{% extends 'base.html' %}

{% block content %}
    <h1>{% block name %} Add a New Song {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="name">Song</label>
            <input type="text" name="name" placeholder="Song name">
            </input>
        </p>

        <p>
            <label for="album">Album</label>
            <input type="text" name="album"
                   placeholder="Album title">
            </input>
        </p>

        <p>
            <label for="artist">Artist</label>
            <input type="text" name="artist"
                   placeholder="Artist">
            </input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}